#skillovi{
    padding-top: 30px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: $pozadina;
 
    hr{
        width: 20%;
        text-align: center;
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom: 50px;
        border-color: #BAFF39;
    }
    #naslovskill{
        color: #BAFF39;
        text-align: center;

        .vecinaslov{
            color: white;
            font-weight: 700;
            font-size: 30px;
        }
    }
    .podnaslov{
        color: #BAFF39;
    }
    #prvekartice{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .kartica{
            color: white;
            margin: 10px;
            padding: 5px;
            border-radius: 20%;
            text-align: center;
            width: 33.3%;

            h3{
                font-weight: 400;
            }

            .linija{
                width: 100px;
                border-color:  #01D284;
            }
        }
    }
}