#projekti{
    height: 800px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    h2{
        text-align: center;
    }
    #drzac{
        display: flex;
        flex-direction: column;
        #pred{
            display: flex;
            flex-direction: row;
            justify-content: center;

            img{
                width: 500px;
                padding: 10px;
                &:hover{
                    border: 1px solid #BAFF39;
                   }
             
            }
        }
        #pdrugired{
            display: flex;
            flex-direction: row;
            justify-content: center;

            img{
                width: 500px;
                padding: 10px;
                &:hover{
                 border: 1px solid #BAFF39;
                }
            }
        }
    }
}